@import 'tailwindcss';

@media print {
  .print-hidden {
    display: none;
  }
  body, main {
    padding: 0 !important;
    margin: 0 !important;
    background-color: white !important;
  }
  #print-area {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}